target/

*.log

.gitignore

.project

*.prefs

phresco-ldap/.classpath

phresco-service-impl/.classpath

phresco-service-web/.classpath

phresco-service/.classpath

.gitignore

logs/phresco-engine.log.13-09-2012

phresco-service-tools/.classpath
