<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Service Web Archive

    Copyright (C) 1999-2014 Photon Infotech Inc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="ServiceLogFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../logs/phresco-engine.log" />
		<param name="Threshold" value="DEBUG" />
		<param name="maxBackupIndex" value="10" />
		<param name="maxFileSize" value="512MB" />
        <param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %d{yyyy-MM-dd HH:mm:ss} %c %x- %m%n" />
		</layout>
	</appender>
	
	<appender name="SplunkLogging" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../logs/splunk-engine.log" />
		<param name="Threshold" value="DEBUG" />
		<param name="maxBackupIndex" value="10" />
		<param name="maxFileSize" value="512MB" />
        <param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %d{yyyy-MM-dd HH:mm:ss} %c %x- %m%n" />
		</layout>
	</appender>
	
	<category name="SplunkLogger">
	 	<priority value="debug"/>
	 	<appender-ref ref="SplunkLogging"/>
	 </category>
	
  	 <appender name="ServiceAsync" class="org.apache.log4j.AsyncAppender">
  	 	  <param name="BufferSize" value="500"/>
  	 	   <param name="Blocking" value="false"/>
    	<appender-ref ref="ServiceLogFile"/>
  	</appender>
  	
	<category name="com.photon.phresco.logger" additivity="false">
		<appender-ref ref="ServiceAsync" />
	</category>

	<root>
		<appender-ref ref="ServiceAsync" />
	</root>

	<loggerFactory class="com.photon.phresco.logger.SplunkLog4JFactory"/>

</log4j:configuration>

