##
## Configuration for the file storage structure
##
phresco.maven.repository.url=${phresco.repo.url}
phresco.maven.repository.user.name=dump
phresco.maven.repository.user.password=dump

##
## LDAP Configuration
##
phresco.ldap.contextfactory=com.sun.jndi.ldap.LdapCtxFactory
phresco.ldap.login.attribute=${phresco.ldap.login.attribute}
phresco.ldap.url=${phresco.ldap.url}
phresco.ldap.basedn=${phresco.ldap.basedn}

#LDAP display attributes
phresco.ldap.attribute.displayName=displayName
phresco.ldap.attribute.mail=mail
phresco.ldap.attribute.phrescoEnabled=phrescoEnabled
phresco.ldap.attribute.customerName=customerName


##
## Auth Token idle time in minutes
##
auth.token.cache.ttl=1440

##
## Default CustomerId
##
phreso.default.customer=photon

##
## Default RoleIds
##
service.view.roleid=4e8c0bed7-fb39-4erta-ae73-2d1286ae4ad0
framework.view.roleid=4e8c0bd7-fb39-4aea-ae73-2d1286ae4ae0

##
## Maxumium Filesize
##
module.max.filesize=50
module.max.archetypesize=5
module.max.download=75
