<!--

    Phresco Service Root

    Copyright (C) 1999-2014 Photon Infotech Inc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<assembly xmlns="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0 http://maven.apache.org/xsd/assembly-1.1.0.xsd">
	
	<baseDirectory>/</baseDirectory> 
	<formats>
		<format>zip</format>
	<!--<format>tar.gz</format> -->
	</formats>

	<fileSets>
		<!-- filter to copy the contents from the delivery directory -->
		<fileSet>
			<directory>${basedir}/delivery/</directory>
			<outputDirectory>/phresco-server/</outputDirectory>
            <filtered>true</filtered>
			<includes>
			    <include>bin/**</include>			    
			    <include>docs/**</include>
			    <include>conf/**</include>
			</includes>
		</fileSet>
		
		<!-- filter to copy the Maven -->
    	<fileSet>
			<directory>${maven.binary.home}</directory>
            <filtered>true</filtered>
			<outputDirectory>/phresco-server/tools/maven</outputDirectory>
		</fileSet>		
	</fileSets>

</assembly>	